.events-section {
    padding: 20px;
    background-color: #f9f9f9;
    max-height: 600px;  /* Limitar la altura de la sección */
    overflow-y: auto;  /* Habilitar scroll vertical */
  }
  
  .section-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 20px;
  }
  
  .event-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 200px;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-image {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
  }
  
  .card-info {
    text-align: left;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-date, .card-location {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
  }
  
  .button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .primary-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .primary-button:hover {
    background-color: #0056b3;
  }
  
  /* Estilos para personalizar el scrollbar */
  .events-section::-webkit-scrollbar {
    width: 8px;
  }
  
  .events-section::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 10px;
  }
  
  .events-section::-webkit-scrollbar-track {
    background-color: #f9f9f9;
  }
  