body, html{
    margin: 0;
    padding: 0;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
}


/* Color principal --> #33ccff */   

/* Paleta de colores https://www.w3schools.com/colors/colors_picker.asp */